@charset "UTF-8";
/*CSS Document*/


@font-face {
    font-family: 'century_gothicregular';
    src: url('../fonts/gothic-webfont.woff2') format('woff2'),
         url('../fonts/gothic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.hidden
{
	display: none;
}

body
{

	margin: auto;
	color: white;
	background-color: white;
	font-family: 'century_gothicregular';
}

h1, h2, h3
{
	font-family: 'century_gothicregular';
	font-weight: bold;
	font-size: 36px;
	color: #fff;
}


#leftPart
{
	width: 60%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
}

#mainHeader
{
	width: 100%;
	background-color: rgba(0,0,0,.5);
	position: absolute;
	z-index: 1;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#mainHeader h1
{
	padding-left: 40px;
}

.promoImage
{
	width: 100%;
	flex: 1 1 auto;
	object-fit: cover;
	position: relative;

}
#container
{
	display: flex;
	flex-direction: row;
	object-fit: cover;

}


#mainTitle
{
	margin-top: 40px;
	margin-bottom: 42px;
	margin-left: 10px;
}

.icons
{
	width: 25px;

}


.socialMedia
{
	
	display: flex;
	flex-direction:row;
	justify-content: space-between;
	margin-top: 10px;
	margin-right: 10px;


}

.socialMediaName
{
	font-size: 12px;
	color: #696969;
	margin-bottom: 5px;
}

#yul
{
	margin-right: 10px;
}

#rightPart
{
	width: 40%;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}



#map
{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#worldM
{
	width: 100%;

}

.promoText
{
	position: absolute;
	bottom: 0;
	padding: 40px;
}

h3
{
	font-size: 50px;
	padding-bottom: 20px;
	color: white;
}

p
{
	
	font-weight: normal;
	font-size: 25px;
	line-height: 30px;
	align-items: center;
	color: white;
	

}

#yulANDlan
{
	justify-content: space-between;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.member
{
	display: flex;
	width: 220px;
	height: 220px;
	flex-direction: column;
	justify-content: center;
	align-items: center;


}

.member img
{
	width: 220px;
	height: 220px;

	
}


.lan:hover
{
	background: rgba(204, 18, 40, 0.8);
	transition: .5s
}

.yuliia:hover
{
	background: rgba(189, 8, 165, 0.8);
	transition: .5s
}

.side
{
	position: absolute;
	display: none;
}

.bio p
{
	padding: 50px;
	font-size: 20px;

}


.bio
{
	width: 100%;
	height: 100%;
	position: absolute;
	transition:1s;
}


.close
{
	position: absolute;
	font-size: 30px;
	top: 20px;
	right: 20px;
	cursor: pointer;
}

@media screen and (max-width: 1100px)
{
	#yulANDlan
	{
		justify-content: space-around;
	}
}







































